{
  "env": {
    "browser": true,
    "commonjs": true,
    "es6": true,
    "jest": true
  },
  "extends": ["airbnb-base", "prettier","plugin:jest-dom/recommended"],
  "plugins": ["prettier", "jest-dom"], 

  "globals": {
    "Atomics": "readonly",
    "SharedArrayBuffer": "readonly"
  },
  "parserOptions": {
    "ecmaVersion": 2018,
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "rules": {
    "jest-dom/prefer-required": "error",
    "jest-dom/prefer-enabled-disabled": "error",
    "jest-dom/prefer-checked": "error",
    "jest-dom/prefer-to-have-attribute": "error",
    "prettier/prettier": ["error"],
    "no-console": "off",
    "func-names": "off",
    "no-unused-vars": "off",
    "import/no-unresolved": [2, { "caseSensitive": false }],
    "camelcase": "off",
    "import/prefer-default-export": "off",
    "no-param-reassign": "off",
    "no-unneeded-ternary": "off",
    "no-underscore-dangle": "off",
    "no-shadow": "off",
    "no-nested-ternary": "off",
    "import/no-named-as-default-member": "off",
    "import/no-named-as-default": "off",
    "no-case-declarations": "off"
  }
}
